html,
body {
  padding: 0;
  margin: 0;
  font-family:'Quicksand';
}





a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.uploadLabel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.uploadButton {
  display: none;
}

.carousel-demo .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.carousel-demo .product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.chakra-tabs__tablist .css-1kzy9ae{
  border-bottom: 0px !important;
}

.transparent-caret{
  caret-color: transparent;
 
}



.hovercontainer {
  position: relative;

}



.overlay {
  display: none;
  overflow: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hovercontainer:hover .overlay {
  display: flex;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.imageoverlay{
  -webkit-transition: .5s ease;
  transition:  .5s ease;

}

.hovercontainer:hover .imageoverlay {
  -webkit-object-fit: none;
  -ms-object-fit: none;
  object-fit: none;
  transform: scale(1.1);

}
.backgroundOverlay{
  -webkit-transition: .5s ease;
  transition:  .5s ease;
}

.greenOverlay{
  -webkit-transition: .5s ease;
  transition:  .5s ease;
}



.imagezoom{ 
  background-size: 100%;
  transition: .10s ease;
  transition-property: 'background-size';
}

.hovercontainer:hover .imagezoom {
  -webkit-animation-name: zoomIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: zoomIn;
  animation-duration: 2s;
}

.hovercontainer:hover .greenOverlay {
  -webkit-opacity: none;
  -ms-opacity: none;
 opacity: 0.9;

}

.hovercontainer:hover .backgroundOverlay {
  -webkit-opacity: none;
  -ms-opacity: none;
 opacity: 0.7;

}

.text {
  color: white;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 
}






@-webkit-keyframes zoomIn {
  0%   {  background-size: 100%;}
  100%  {  background-size: 120%; }
}

/* Standard syntax */
@keyframes zoomIn {
  0%   {  background-size: 100%;}
  100%  {  background-size: 120%; }
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.productItem{ 
  display: flex;
}

.productButton{
  -webkit-transition: .5s ease;
  transition:  .5s ease;
  opacity:0

}

.productItem:hover .productButton {
  -webkit-opacity: 1;
  -ms-opacity: 1;
  opacity:1

}

/*Carousel Section*/


.nextImage{
  position: absolute;
  bottom: 0;
opacity: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0%;
  height: 100%;

}

.CustomCarousel .nextImage {
  opacity: 1;
  
  width: 100%;
  left: 0;

}


/*Loading Section*/
.fadeoverlay{
  -webkit-transition: .5s ease;
  transition:  .5s ease;
  opacity: 0;
}

.layoutclass .fadeoverlay {
  -webkit-opacity: none;
  -ms-opacity: none;
  opacity: 1;

}


.enterDropDown{
  -webkit-animation-name: enterdropdown;
  -webkit-animation-duration: .5s;
  animation-name: enterdropdown;
  animation-duration: .5s;
}

@-webkit-keyframes enterdropdown {
  from {
    height:0px;
    bottom: 0}
  to {
    height:400px;
    bottom: -400}
}

@keyframes enterdropdown {
  from {
    height:0px;
    bottom: 0
  }
  to {
    height:400px;
    bottom: -400}
}

.leaveDropDown{
  -webkit-animation-name: leavedropdown;
  -webkit-animation-duration: .5s;
  animation-name: leavedropdown;
  animation-duration: .5s;
}

@-webkit-keyframes leavedropdown {
  from {
    height:400px;
    bottom: 400
  }
  to {
    height:0px;
    bottom: 0}
}

@keyframes leavedropdown {
  from {
    height:400px;
    bottom: 400
  }
  to {
    height:0px;
    bottom: 0}
}





.spinbutton {
  -webkit-animation-name: spinbutton;
  -webkit-animation-duration: .5s;
  animation-name: spinbutton;
  border-width: 2px;
  animation-duration: .5s;
  border-radius: 50%;
  transition-delay: 3s;
  
}

@-webkit-keyframes spinbutton {
  0% {border-top-color:black;}
  100% {border-top-color: black;border-bottom-color: black;}
 
}



@keyframes spinbutton {
  0% {border-top-color:black;}
  25% {border-top-color:black;
    border-right-color:black;}
  50% {border-top-color: black;
    border-right-color:black;
    border-bottom-color: black;}
  100% {border-top-color: black;
    border-right-color:black;
    border-bottom-color: black;
    border-left-color: black;}
 
}

@-webkit-keyframes spinbutton {
  0% {border-top-color:black;}
  25% {border-top-color:black;
    border-right-color:black;}
  50% {border-top-color: black;
    border-right-color:black;
    border-bottom-color: black;}
  100% {border-top-color: black;
    border-right-color:black;
    border-bottom-color: black;
    border-left-color: black;}
 
}

.banner-items{
margin-bottom: 0px;
position: relative;
}

.banner-enter .banner-items{
  -webkit-animation-name: fadeitems;
  -webkit-animation-duration: 1s;
  animation-name: fadeitems;
  animation-duration: 1s;
}



@keyframes fadeitems {
  from {opacity: .2;top: 30px;}
  to {opacity: 1;top: 0px;}
}
